@model RazorPagesMovie.Models.AdminRegModel

<div>
    <h4>AdminRegModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.first_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.first_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.last_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.last_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EGN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EGN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.addres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.addres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.role)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
